<div class="container contactDiv mt-5 p-5">
    <div class="row mb-5 pt-5 mt-5">
        <div class="col-lg-4 col-md-4 col-sm-6">
            <img src="../../assets/Frame 1.png" alt="logo" class="logo">
        </div>
        <!-- <div class="col-lg-2 col-md-3 col-sm-6">
            <h6>Follow us</h6>
                <div class="d-flex justify-content-between">
            <img src="../../assets/twitter.png" alt="twitter" class="img-fluid contact-icon">
            <img src="../../assets/fb.png" alt="fb" class="img-fluid contact-icon">
            <img src="../../assets/linkedin.png" alt="linkedin" class="img-fluid contact-icon">
                </div>
        </div> -->
        <div class="col-lg-4 col-md-4 col-sm-6">
            <h6>Useful Links</h6>
            <ul style="color: rgb(124, 124, 124);">
                <li>Our Projects</li>
                <li>FAQ’s</li>
                <li>News and Updates</li>
            </ul>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <h6>Contacts</h6>
            <ul style="color: rgb(124, 124, 124);">
                <li>Address : 4-5 Main road , Delhi
                  </li>
               
                <li>Phone Number : +91 4533433265</li>
            </ul>
        </div>

    </div>
    <div class="row">
        <div class="col text-center mt-5" style="color: grey;">
            <img src="../../assets/C.png" alt="" class="img-fluid">
            All Copyrights reserved
        </div>

        </div>
</div>
