<div class="container">
    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-6">
            <div class="combine text-center">
                <h2 class="mt-5">Start growing with our community</h2>
                <p style="color: rgb(96, 96, 96);"c class="mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit </p>
                <button class="btn JoinBtn px-4 mt-4">Join community</button>
            </div>
            <br> 
            <img src="../../assets/ellipse1.png" alt="man" class="ellipse1"> <br><br> <br>
            <img src="../../assets/Ellipse2.png" alt="women" class="ellipse2">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 mx-auto">
            <img src="../../assets/Ellipse3.png" alt="man" class="ellipse3">
            <img src="../../assets/ServiceImg.png" alt="Service Image" class="img-fluid">

 
        </div>
    </div>
</div>