<!-- <p>HOME WORKS!</p> -->
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 order-lg-2">
            <img src="../../assets/homeImg.png" alt="home image" class="img-fluid homeImg">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 order-lg-1 align-content-center col-cent">
            <h2 style="color: #C24914;" class="mb-5">Start learning with us now</h2>
            <p style="color: rgb(86, 86, 86);" class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa laboriosam  voluptates sed beatae?</p>
            <button class="btn startBtn mt-3">Start learning</button>
        </div>
    </div>
</div>
